# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*.class

# Package Files
*.jar
*.war
*.ear

# ant file for local deployment
build.xml
private/
*TestLocal.java

# Integration properties
src/test/resources/onedrive-integrationtest.properties
src/test/resources/onedrive-test.properties
